
header{
    background-color: rgba(9, 104, 9, 0.74);
   height: 120px;
   top: 0%;
position: sticky;
}

header nav{
    display: inline-block;
  
}
header nav ul li{
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 50px;
}
header nav ul{
    padding-left: 70px;
    padding-bottom: 60px;
   
}
header nav ul li a{
    text-decoration:none ;
    text-align: center;
    color:rgb(194, 110, 49);
    font-size:x-large ;
}

header img{
    margin-top: 30px;
    margin-left: 270px;
    margin-right: 10px;  
}

body{
    background-color: rgba(72, 161, 72, 0.74); 
}
#img1{
    width: 50%;
    margin-left: 280px;
    margin-right: auto;
    margin-top: 30px;

}
/* //////////////////////////////////////////////////////// */
article img{
    clear:both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container:nth-child(2)
{
    margin-left: 265px;
}
main section article {
    float: left;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ///////////////////////////////// */
#img{
    display: inline-block;
    margin-left: 280px;
    /* margin-top: 30px; */
    width: 50%;
}
main > #paragraph{
    clear:both;
    margin-right: 280px;
    max-width: 450px;
    float: right;

}
#paragraph{
    display: inline-block;
    width: 400px;
    margin-top: -420px;
    /* padding-right:10px; */
    
}

 #paragraph p{
    overflow: scroll;  
}
#paragraph h3 {
    margin-bottom: 10px;
    
}
#paragraph button{
    margin-bottom: 100px;
    border-radius:4px; 
    height: 35px;
    width: 150px;  
}
footer{
    background-color: rgba(9, 104, 9, 0.74);
     margin-top: 50px;
     height: 60px;
   
} 